<configuration>

    <appender name="CLASSIC" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="${logging.appender:-CLASSIC}"/>
    </root>

</configuration>
